<div class="xl:px-36 pt-44 flex justify-center xl:block">
    <div class="w-128 h-128">
        <h2>{{'Welcome to Buckinghamshire!' | uppercase}}</h2>
        <p class="mt-2 mb-8">Please enter your password.</p>

        <form [formGroup]="form" nz-form nzLayout='vertical' (ngSubmit)="submit()">
            <nz-form-item>
                <nz-form-label nzFor="password">Password</nz-form-label>
                <nz-form-control [nzErrorTip]="passwordError">
                    <nz-input-group [nzSuffix]="passwordSuffix">
                        <input nz-input id="password" [type]="passwordVisible ? 'text' : 'password'"
                            placeholder="************" formControlName="password">
                    </nz-input-group>
                    <ng-template #passwordSuffix>
                        <i class="cursor-pointer" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                    <ng-template #passwordError let-control>
                        <ng-container *ngIf="control.hasError('required')">Please enter password!</ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">Password must be atleast 8 characters
                        </ng-container>
                        <ng-container *ngIf="control.hasError('wrong')">Password is incorrect!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <div class="select-none">
                <a>Forgot password?</a>
            </div>
            <button class="mt-8 w-60" nz-button nzType="primary" nzSize="large" nzShape="round" [nzLoading]='false'>Sign
                in</button>
        </form>
    </div>
</div>