:host {
  display: flex;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  padding: 0 16px;

  .title {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  .icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.ant-layout-sider-collapsed {
  .sidebar-logo {
    .title {
      opacity: 0;
    }
    .icon {
      right: 16px;
    }
  }
}
