<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <h1>BUCKINGHAMSHIRE</h1>
            <button nz-button nzType="link" nzGhost (click)="isCollapsed = !isCollapsed">
                <i nz-icon nzType="menu"></i>
            </button>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="bar-chart"></i>
                <span routerLink="/dashboard">Dashboard</span>
            </li>
            <li nz-menu-item nzMatchRouter>
                <i nz-icon nzType="bar-chart"></i>
                <span routerLink="/escalations">Escalations</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <button nz-button nzType="primary">Primary Button</button>
                <button nz-button nzType="primary" nzSize="large" nzShape="round">
                    <i nz-icon nzType="download"></i>
                    Download
                </button>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>