<div class="h-full flex justify-end items-center px-4">
    <div #avatar class="mx-2 cursor-pointer" nz-popover nzPopoverTitle="Title" [nzPopoverVisible]="avatarVisible"
        [nzPopoverTrigger]="null" [nzPopoverTitle]="titleTemplate" [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottomRight" (click)="avatarVisible = !avatarVisible">
        <nz-avatar nzIcon="user" class="text-primary" [nzSrc]="">
        </nz-avatar>
    </div>
    <ng-template #titleTemplate>
        Profile
    </ng-template>
    <ng-template #contentTemplate>
        <a>Close</a>
    </ng-template>
</div>