<div class="xl:px-36 pt-44 flex justify-center xl:block">
    <div class="w-128 h-128">
        <h2>{{'Welcome to Buckinghamshire!' | uppercase}}</h2>
        <p class="mt-2 mb-8">Please type your email address.</p>

        <form [formGroup]="form" nz-form nzLayout='vertical' (ngSubmit)="submit()">
            <nz-form-item>
                <nz-form-label nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzErrorTip]="emailError">
                    <input nz-input id="email" type="email" placeholder="Sample@gmail.com" formControlName="email">
                    <ng-template #emailError let-control>
                        <ng-container *ngIf="control.hasError('required')">Please enter your E-mail!</ng-container>
                        <ng-container *ngIf="control.hasError('email')">This is not a valid E-mail!</ng-container>
                        <ng-container *ngIf="control.hasError('notFound')">The email address does not exist!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <label nz-checkbox class="flex items-center font-medium" formControlName="rememberMe">
                Remember me on this device
            </label>
            <button class="mt-8 w-60" nz-button nzType="primary" nzSize="large" nzShape="round"
                [nzLoading]='false'>Next</button>
        </form>
    </div>
</div>