@import "./variables";

:root {
  --color-primary: #{$brand-primary};
  --color-secondary: #{$brand-secondary};
  --color-primary-dark: #{darken($brand-primary, 20%)};
  --color-primary-light: #{lighten($brand-primary, 20%)};
  --color-border: #{$border-color};
}
